%%
%% rebar configuration file (https://github.com/rebar/rebar)
%%

{require_otp_vsn, "17|18"}.

{erl_opts, [debug_info, fail_on_warning]}.

{clean_files, [
    "ebin",
    "logs",
    "priv/*.so",
    "src/*.beam",
    "test/*.beam"
]}.

{pre_hooks, [{compile, "make build"}]}.
{post_hooks, [{clean, "make clean"}]}.
