%%
%% rebar3 configuration file
%%
{minimum_otp_vsn, "17"}.

{erl_opts, [debug_info, fail_on_warning]}.

{pre_hooks, [
    % Invoke cargo with the appropriate arguments depending on the
    % operating system. For Darwin, we need to flatten the namespace and
    % suppress undefined symbols in order for the linker to succeed.
    {"darwin",          compile, "cargo rustc -- --codegen link-args='-flat_namespace -undefined suppress'"},
    {"(freebsd|linux)", compile, "cargo build"},
    {                   compile, "mkdir -p priv"},
    {"darwin",          compile, "cp target/debug/libepwd_rs.dylib priv/libepwd_rs.so"},
    {"(freebsd|linux)", compile, "cp target/debug/libepwd_rs.so priv/libepwd_rs.so"}
]}.

{post_hooks, [
    {clean, "cargo clean"}
]}.
